.library-body{
    width: 94%;
    height: 90%;
    padding: 3%;
    display: flex;
    flex-wrap: wrap; /* allows flex items to wrap onto multiple lines */
    overflow-y: auto; /* enables vertical scrolling if content overflows */
    justify-content: space-between; /* distributes items evenly with space between them */
    align-items: center; /* align items vertically in the center */
}

.playlist-card {
    position: relative; /* sets relative positioing for child absolute elements */
    width: 15%;
    height: 35%;
    border-radius: 20px; /* rounds the corners */
    background-color: rgb(30,42,62); 
    border: 1px solid rgba(54, 69, 98, 0.18); /* adds a subtle border */
    padding: 1%;
    margin-bottom: 2%;
    background: rgb(30, 42, 62);
    background: linear-gradient(75deg,
    rgb(40, 58, 88) 0%,
    rgba(54, 69, 98, 0) 100%
    );
    transition: all 0.2s ease; /* adds a smooth transition effect for interactions */
    cursor: pointer; /* changes the cursor to indicate clickability */
}

.playlist-card:hover {
    transform: scale(1.02); /* slightly enlarges the card on hover */
}
.playlist-card:hover .playlist-fade {
    opacity: 1; /* makes the .playlist-fade element fully visible on hover */
}

.playlist-image {
    width: 100%; /* sets the image width to cover the full width of its container */
    aspect-ratio: 1; /* maintains a square aspect ratio */
    border-radius: 15px; /* rounds the corners of the image */
}

.playlist-title {
    font-weight: 800; /* makes the title bold */
    font-size: 16px; /* sets the font size */
    color: #c4d0e3;
    margin: 10px 0px 0px; /* sets margins */
    display: -webkit-box; /* enables webkit line clamp */
    overflow: hidden; /* hides overflow text */
    text-overflow: ellipsis; /* adds ellipsis to overflow text */
    -webkit-line-clamp: 2; /* limits text to 2 lines */
    line-clamp: 2; /* limits text to 2 lines */
    -webkit-box-orient: vertical; /* orient text vertically for line clamping */
}

.playlist-subtitle {
    font-weight: 400; /* normal font weight */
    font-size: 12px; /* sets the font size */
    margin: 0px; /* no margins */
    color: #c4d0e37c; /* sets the text color with transparency */
}

.playlist-fade {
    position: absolute; /* absolute positioning relative to its parent */
    right: 0; /* aligns to the right of the parent container */
    bottom: 0;
    opacity: 0; /* initially invisible */
    width: 84%;
    height: 34%;
    border-radius: 20px;
    background: linear-gradient(180deg,
    rgba(54,69,98,0) 10%,
    rgba(54,69,98,1) 100%
    );
    display: flex;
    align-items: flex-end; /* aligns children at the bottom */
    justify-content: flex-end; /* aligns children to the right */
    padding: 8%;
    transition: 0.5s ease; /* adds a smooth transition effect for interactions */

}